<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <style>

        .attendance:hover {
          background-color: #007bff;
          color: white;
        }

        /* .attendance {
          background-color: #007bff;
          color: white;
        } */
        
        .title-spacer {
          border-left: 3px solid #007bff;
        }
        
        .attendance:hover .title-spacer{
          border-color: white;
        }
        
        .opened {
          background-color: #007bff;
          color: white;
        }

    </style>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container mt-5">
        <section class="d-flex flex-wrap justify-content-center justify-content-lg-between">
            <h1 class="text-center text-lg-center">Welcome to Your Dashboard</h1>
            <button type="button" class="btn btn-primary btn-lg">Take New Attendance</button>
        </section>
        <center class="my-4">
            <h3>Student Attendance Records</h3>
        </center>

        <fieldset id="accordion-fieldset" class="p-2 accordion" style="border: 0.4rem solid #f8f9fa;">
            <legend style="width: auto;">16 December 2023</legend>

            <div class="list-group">
                <a id="attendance-heading-0" class="p-1 list-group-item list-group-item-action attendance" 
                        href="#attendance-content-0" aria-expanded="false" aria-controls="attendance-content-0"
                        onclick="toggleAccordion('attendance-content-0')"
                    >
                    <h5 class="d-inline mb-0">CIT513</h5><span class="mx-2 title-spacer"></span>
                    <h5 class="d-inline mb-0">Computer Engineering Methods</h5></h5><span class="mx-2 title-spacer"></span>
                    <h5 class="d-inline mb-0 float-right">Dr Ismail Bawa</h5>
                </a>
                <table id="attendance-content-0" class="table table-striped table-hover collapse" aria-labelledby="attendance-heading-0" data-parent="#accordion-fieldset">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Student ID</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>m1623394</td>
                        <td>11:25:00</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>m1518327</td>
                        <td>14:00:00</td>
                      </tr>
                    </tbody>
                  </table>


                <a id="attendance-heading-1" class="p-1 list-group-item list-group-item-action attendance" 
                    href="#attendance-content-1" aria-expanded="false" aria-controls="attendance-content-1"
                    onclick="toggleAccordion('attendance-content-1')"
                >
                    <h5 class="d-inline mb-0">CPT312</h5><span class="mx-2 title-spacer"></span>
                    <h5 class="d-inline mb-0">Computer Architecture And Operating Systems</h5></h5><span class="mx-2 title-spacer"></span>
                    <h5 class="d-inline mb-0 float-right">Dr Ismail Bawa</h5>
                </a>
                <table id="attendance-content-1" class="table table-striped table-hover collapse" aria-labelledby="attendance-heading-1" data-parent="#accordion-fieldset">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Student ID</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>John</td>
                        <td>Reese</td>
                        <td>m176323</td>
                        <td>11:25:00</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>m1518327</td>
                        <td>14:00:00</td>
                      </tr>
                    </tbody>
                  </table>
                <!-- <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a> -->
            </div>
        </fieldset>


    </div>

    {% include "footer.html" %}

    <script>
      function toggleAccordion(id) {
        const el = document.getElementById(id);
        if ( el.classList.contains('show') ) {
           el.classList.remove('show');
           el.previousElementSibling.classList.remove('opened')
          }
          else {
            el.classList.add('show');
            el.previousElementSibling.classList.add('opened')
        }
      }
    </script>
</body>

</html>