<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Enroll as a Student</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>

<body>

    {% include "navbar.html" %}

    <div class="container mt-5">
        <h1>Enroll as a Student</h1>
        <form method="post">

            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>

            <div class="form-group">
                <label for="student_id">Student ID (Matric No)</label>
                <input type="text" class="form-control" id="student_id" name="student_id" required>
            </div>

            <!-- <div class="form-group">
                <label for="fingerprint_id">Fingerprint ID</label>
                <input type="text" class="form-control" id="fingerprint_id" name="fingerprint_id" required>
            </div> -->

            <div class="form-group">
                <label style="display: block;" for="fingerprint_id">Fingerprint ID</label>
                <input style="width: 20%; display: inline-block;" type="text" class="form-control" id="fingerprint_id"
                    name="fingerprint_id" required readonly>
                <button type="button" class="btn btn-primary px-0" style="width: 150px;"
                    onclick="retrieveFingerPrint()">Get Fingerprint ID</button>
            </div>

            <div class="form-group">
                <label style="display: block;" for="rfid_id">RFID ID</label>
                <input style="width: 20%; display: inline-block;" type="text" class="form-control" id="rfid_id"
                    name="rfid_id" required readonly>
                <button type="button" class="btn btn-primary px-0" style="width: 150px;" onclick="retrieveRFID()">Get
                    Rfid</button>
            </div>

            <button type="submit" class="btn btn-primary">Enroll</button>
        </form>

    </div>

    <div id="error" style="position: fixed; top: 100px; right: 1%; opacity: 0%;"
        class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Oh! snap! ... could not retrieve RFID TAG ID ... try again.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="dismissError()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



    <!-- Notification Prompts Below  -->
    {% if lecturer == False %}
    <div id="" style="position: fixed; top: 100px; right: 1%;"
        class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Oh! snap! ... You are not a Lecturer ... denied!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="dismissError()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}


    {% if student.enrolled %}

    <div id="post-error" style="position: fixed; top: 100px; right: 1%; opacity: 80%;"
        class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Yay! ... Successfully enrolled {{ student.name }} </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            onclick="(() => document.getElementById('post-error').remove())()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% elif student.enrolled == False %}

    <div id="post-error" style="position: fixed; top: 100px; right: 1%; opacity: 80%;"
        class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Oops! ... could not enroll student ... try again. </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            onclick="(() => document.getElementById('post-error').remove())()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endif %}



    <script>
        const randomHex = (_length) => Array.from({ length: _length }, () => "0123456789ABCDEF".charAt(Math.floor(Math.random() * 16))).join('');

        function retrieveFingerPrint() {
            setTimeout(() => document.getElementById('fingerprint_id').value = randomHex(8), 1500);
            // document.getElementById('fingerprint_id').value = randomHex(8);
        }

        async function retrieveRFID() {
            const res = await (await fetch('/retrieve/rfid/', { method: 'post' })).json();
            console.log(res);
            if (res.status === 'false') {
                showError();
                setTimeout(() => dismissError(), 5000);
                return;
            };

            document.getElementById('rfid_id').setAttribute('value', res.tag_id);
        }


        function showError(params) {
            document.getElementById('error').style.opacity = '80%';
        }

        function dismissError(params) {
            document.getElementById('error').style.opacity = '0%';
        }
    </script>

    {% include "footer.html" %}

</body>

</html>