<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enroll as a Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Enroll as a Student</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <div class="form-group">
                <label for="date_of_birth">Date of Birth</label>
                <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
            </div>
            <div class="form-group">
                <label for="student_id">Student ID</label>
                <input type="text" class="form-control" id="student_id" name="student_id" required>
            </div>
            <div class="form-group">
                <label for="fingerprint_id">Fingerprint ID</label>
                <input type="text" class="form-control" id="fingerprint_id" name="fingerprint_id" required>
            </div>
            <div class="form-group">
                <label style="display: block;" for="rfid_id">RFID ID</label>
                <input style="width: 20%; display: inline-block;" type="text" class="form-control" id="rfid_id"
                    name="rfid_id" required disabled>
                <button type="button" class="btn btn-primary" onclick="retrieveRFID()">Get Rfid</button>

            </div>
            <button type="submit" class="btn btn-primary">Enroll</button>
        </form>

    </div>

    <div id="error" style="position: fixed; top: 20px; right: 1%; visibility: 0%;" class="alert alert-danger alert-dismissible fade show"
        role="alert">
        <strong>Oh! snap! ... could not retrieve RFID TAG ID ... try again.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>
        async function retrieveRFID() {
            const res = await (await fetch('/enroll_rfid/', { method: 'post' })).json();
            console.log(res);
            if (res.status === 'false') {
                showError();
                return;
            };

            document.getElementById('rfid_id').setAttribute('value', res.rfid_tag);
        }


        function showError(params) {
            document.getElementById('error').style.opacity = '80%';
        }
        
        function dismissError(params) {
            document.getElementById('error').style.visibility = '0%';
        }
    </script>
</body>

</html>