<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attendance System</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

</head>

<body>
    {% include "navbar.html" %}

    <div class="container mt-5">
        <h1>Welcome to the RFID & Biometric Attendance System</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Enroll as a Student</h3>
                <p>Provide your personal information, fingerprint, and RFID details.</p>
                <a href="{% url 'attendance:enroll_student' %}" class="btn btn-primary">Enroll Now</a>
            </div>
            <div class="col-md-6">
                <h3>Log In</h3>
                <p>Already enrolled? Log in to mark your attendance.</p>
                <a href="{% url 'attendance:lecturer_login' %}" class="btn btn-success">Log In</a>
            </div>
        </div>
    </div>


    {% include "footer.html" %}

</body>

</html>