<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lecturer Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <style>
        /* Add custom styles here */
        /* For example: */
        .login-container {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            margin-top: 50px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}

    <div class="container login-container mt-5">
        <h2>Lecturer Login</h2>
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="lecturer_id">Lecturer ID:</label>
                <input type="text" class="form-control" id="lecturer_id" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <center>
                <button type="submit" class="btn btn-primary">Login</button>
            </center>

        </form>
    </div>

    {% include "footer.html" %}

</body>

</html>